PORT=6969
MONGODB_URI=mongodb://127.0.0.1:27017
DB_NAME=taskmate
JWT_SECRET=your-super-secret-key-change-in-production
NODE_ENV=development
SHEETS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbzruRbfAVKcg86zQzVmJtqv8jWhYnDTuV0Xg0fn0qPhLbY9b5OvxqWQFI9zG8QqGbgh/exec
SHEETS_WEBHOOK_SECRET=taskmate-123